@media only screen and (max-width: 700px) {
  html{
  margin: 0px;
  padding: 0px;
width: 100vw;
color: white;
font-family: sans-serif;
background-color: #006bb6;
text-decoration: none;
}
body{
  height: 100vh;

}
a{
      text-decoration: none;
}
#outputPlayer{
  display: grid;
grid-template-columns: repeat(1, 1fr);
  padding-left: 6vw;
    padding-right: 6vw;
    color: #bec0c2;
}

.outputImage{
grid-column: 1 / span 1;
justify-self: end;

}
.outputStats{
grid-column: 1 / span 1;
font-size: 7vmax;
color: #bec0c2;

}
.College{
font-size: 6vmax;
color: #bec0c2;
}
.Height{
  font-size: 3vmax;
  color: #bec0c2;
  }
  .Notables{
    font-size: 3vmax;
    color: #bec0c2;
    }
    img{
      width: 88vw;
      object-fit: cover;
      height:50vw;
       object-position: 0% 8%;
         box-shadow: .9vw 1.2vw #bec0c2;
    }
h1{
  grid-column: 1 / span 1;
  font-size: 10vw;
  text-align: center;
    color: #f58426;

margin-top: -2vw;
margin-bottom: 1vw;
text-shadow: .4vw .5vw #bec0c2;
padding-bottom: 2vmin;
padding-top: 3vmin;
}
.logo{
  grid-column: 2 / span 1;
  width: 30vw;
  object-fit: scale-down;
  box-shadow: 0px 0px;

  position: absolute;
left: 35vw;
  top: 86vh;
}
}






@media only screen and (min-width: 700px) {
  html{
  margin: 0px;
  padding: 0px;
width: 100vw;
color: white;
font-family: sans-serif;
background-color: #006bb6;
text-decoration: none;
}
body{
  height: 100vh;
overflow: hidden;
}
a{
      text-decoration: none;
}
#outputPlayer{
  display: grid;
grid-template-columns: repeat(2, 1fr);
  padding-left: 3vmax;
    padding-right: 3vmax;
    color: #bec0c2;
}

.outputImage{
grid-column: 0 / span 1;
justify-self: end;

}
.outputStats{
grid-column: 1 / span 1;
font-size: 7vmax;
color: #bec0c2;

}
.College{
font-size: 6vmax;
color: #bec0c2;
}
.Height{
  font-size: 3vmax;
  color: #bec0c2;
  }
  .Notables{
    font-size: 3vmax;
    color: #bec0c2;
    }
    img{
      width: 44vw;
      object-fit: cover;
      height:30vw;
       object-position: 0% 8%;
         box-shadow: .5vw .8vw #bec0c2;
    }
h1{
  grid-column: 1 / span 2;
  font-size: 9vmin;
  text-align: center;
    color: #f58426;
margin: 2vmax;
text-shadow: .15vw .18vw #bec0c2;
padding-bottom: 2vmin;
padding-top: 3vmin;
}
.logo{
  grid-column: 2 / span 1;
  width: 15vw;
  object-fit: scale-down;
  box-shadow: 0px 0px;
  position: absolute;
  left: 82vw;
  top: 80vh;
}
}
